@import "tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/className-list.json";

:root {
  --background: #FDF2F4;
  --foreground: #4A3B32;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDF2F4;
    --foreground: #4A3B32;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
